/*-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#

 * Project. :	Nemean
 * Version. :	1.1 (04-01-2014)
 * Website. : 	Nemean.no
 * Author . :	Nemean Web Development Crew
 * File . . :	style.css (stylesheet)

 -#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-*/
@-ms-viewport{
    width: device-width;
}

* {
    font-family: 'Maven Pro', sans-serif;
}

body {
    display: block;
    background: #fafafa;
    margin: 20px 40px;
}

a {
    text-decoration: none;
}

nav {
    margin-top: 20px;
}

.menuitem {
    font-weight: 700;
    font-size: 1.2em;
    color: #364d1a;
    line-height: calc(1.4em + 4px);
    display: block;
    padding: 5px;
}

.menuitem:hover, .submenuitem:hover {
    color: #73cd07;
}

.background-dark{
    background-color: #364d1a;
}

.background-light{
    background-color: #73cd07;
}

.header {
    color: #fafafa;
    height: 218px;
    position: relative;
    line-height: 220px;
}

.tile{

    height: 100px;
    width: 100%;
    margin-top:20px;
    padding: 0px;
    line-height: 100px;
}

.tile-text{
    text-align: center;
    color: white;
    font-size: 25px;
}

.row div {
    padding-left: 20px;
    padding-right: 0;
}

.tile:hover, .header:hover {
    background-color: gray;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
    cursor: pointer;
}
.header:hover .diamond{
    border-left: 40px solid gray;
    -webkit-transition: border-color 0.2s linear;
    -moz-transition: border-color 0.2s linear;
    -ms-transition: border-color 0.2s linear;
    -o-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
}

.tile:after{
    margin-right: 10px;
}

.diamond{
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 75px;
    right: -60px;
    z-index: 999;
}

.diamond-dark{

    border-left: 40px solid #364D1A;
}

.diamond-light{

    border-left: 40px solid #73cd07;
}

.btn:hover {
    background-color: gray; /* Color transition */
}

.disabled, .disabled + .triangle-2::after, .disabled:hover, .disabled:hover + .triangle-2::after {
    background-color: #73ce07;
}

.sponsors img {
    max-width: 310px;
}

.sponsors {
    background-color: #fafafa;
    margin-top: 20px;
}

footer {
    text-align: center;
    vertical-align: bottom;
    line-height: 100px;
    height: 100px;
    float:right;
    width: 100%;
}
footer div {
    font-weight: 400;
    color: gray;
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
}

.facebook {
    background-color: #3b5998;
}
.twitter {
    background-color: #019ad2;
}
.youtube {
    background-color: #cc181e;
}

.submenu {
    display: none;
}

.submenuitem {
    color: gray;
    font-size: 1.0em;
    margin-left: 10px;
    padding: 5px;
    display: block;
}





/* Ragnar test */

.left-inner-addon {
    position: relative;
}

.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.left-inner-addon input,
.left-inner-addon select { padding-left: 30px; }

.mapSeat {

    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 0;
}

.available {
    background-color: #527526;
}