<template name="article">
    <article>
        <header>
            <h2>Informasjon: Klart for lan 2015</h2>
            <p>Publisert: Sist endret:</p>
        </header>
        <p>Dummy text</p>
        <p>Dymmu tedt</p>
        <footer>
            <hr>
            <img height="100px" src="img/logo.jpg" class="img-circle"
                 style="float:left;
            " />
            <div>
            <h4>Forfatter: Aran</h4>
            <h5>Webkunstner</h5>
            </div>
        </footer>
    </article>
</template>