<template name="map">
    <h2>Plasskart 22</h2>
    <div class="row">
        {{#with map}}
        {{#each sections}}
            <div class="col-lg-6">
                {{#each rows}}
                    <div class="row">
                        {{#each seats}}
                            <a id="reserveSeat" class="col-md-1 mapSeat {{status}} btn"></a>
                        {{/each}}
                    </div>
                    {{#if rowEven}}
                        <br><br>
                    {{/if}}
                {{/each}}
            </div>
        {{/each}}
        {{/with}}
    </div>
</template>
