<template name="start_page">
    <section>

        {{>sponsors}}

        <a href="https://www.facebook.com/nemeanlan">
            <section class="facebook social">
                <h1 class="box-content" style="line-height:100px;">Facebook</h1>
            </section>
        </a>

        <a href="https://twitter.com/NemeanLAN">
            <section class="twitter social">
                <h1 class="box-content" style="line-height:100px;">Twitter</h1>
            </section></a>

        <a href="http://www.youtube.com/channel/UCnqj-QgG5GdaZNagYXH88Ng">
            <section class="youtube social">
                <h1 class="box-content" style="line-height:100px;">Youtube</h1>
            </section></a>

        <a href="?m=articles&act=view&artID=37" class="questions"><h1 class="box-content">Kontakt oss</h1></a>

        <a href="" class="applytocrew"><h1 class="box-content">Søk nå</h1></a>

    </section>
</template>