<template name="start_page">
    <div class="row col-lg-9 row" style="padding:0px;">

		<div class="col-lg-6">
	        <div class="facebook tile">
	              Facebook
	        </div>
		</div>
		<div class="col-lg-6">
	        <div class="twitter tile">
	          Twitter
	          </div>
		</div>
        <div class="col-lg-12">
        	<div class="youtube tile">
	           Youtube
	          </div>
        </div>

        <div class="col-lg-6">
        	<div class="background-dark tile">
	           Kontakt oss
	          </div>
        </div>

        <div class=" col-lg-6">
        	<div class="background-dark tile">
	           Søk nå
	          </div></div>
	</div>
    
    <div class="sponsors col-lg-3">
    	{{>sponsors}}
    </div>
</template>