<template name="adminPage">
    <h3>Admin side</h3>
    <div class="row" style="padding: 0;">
        <div class="col-lg-6">
            <div class="tile tile-text background-dark">
                Endre profil
            </div>
        </div>
        <div class="col-lg-6">
            <div class="tile tile-text background-dark">
                Tilbakestill passord
            </div>
        </div>
        <div class="col-lg-6">
            <div class="tile tile-text background-dark">
                Send ny verifikasjons-mail
            </div>
        </div>
        <div class="col-lg-6">
            <div class="tile tile-text background-light">
                Kjøp billett
            </div>
        </div>
        <div class="col-lg-6">
            <div class="tile tile-text background-dark">
                Registrer lag
            </div>
        </div>
        <div class="col-lg-6">
            <div class="tile tile-text twitter">
                Compoer
            </div>
        </div>
        <div class="col-lg-6">
            <div class="tile tile-text background-dark">
                Bestillinger (Burger)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="deleteUser tile tile-text youtube">
                Slett alle brukere
            </div>
        </div>
    </div>
</template>