<template name="adminPage">
    <h3>Admin side</h3>
    <div class="row" style="padding: 0;">
        <div class="col-lg-6">
            <div id="userAdministration" class="tile tile-text background-dark clickable">
                Administrere brukere
            </div>
        </div>
        <div class="col-lg-6">
            <div class="tile tile-text background-dark">
                Administrere reservasjoner
            </div>
        </div>
        <div class="col-lg-6">
            <div class="tile tile-text background-light">
                Se billettsalg
            </div>
        </div>
        <div class="col-lg-6">
            <div class="tile tile-text twitter">
                Administrere compoer
            </div>
        </div>
        <div class="col-lg-6">
            <div class="deleteUsers tile tile-text youtube">
                Administrere burgersystem
            </div>
        </div>
        <div class="col-lg-6">
            <div id=""
                 class="deleteUsers tile tile-text youtube clickable">
                Administrere innstillinger
            </div>
        </div>
    </div>
</template>