<template name="articleAdministration">
    {{#if currentUser}}
        {{#if isAdmin}}
            <h3>Administrere artikler</h3>
            <div class="row" style="padding: 0;">
                <div class="col-lg-2">
                    <div id="newArticle" class="tile tile-text background-dark
                    clickable">
                        Ny artikkel
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="deleteUsers tile tile-text youtube">
                        Slett alle artikler
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tittel</th>
                    </tr>
                </thead>
                <tbody>
                {{#each articles}}
                    <tr>
                        <td>{{title}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{else}}
            <p>Denne siden krever administratorrettigheter.</p>
        {{/if}}
    {{/if}}
</template>