<template name="userAdministration">
    {{#if currentUser}}
        {{#if isAdmin}}
            <h3>Administrere brukere</h3>
            <div class="row" style="padding: 0;">
                <div class="col-lg-2">
                    <div class="tile tile-text background-dark">
                        Ny bruker
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="deleteUsers tile tile-text youtube">
                        Slett alle brukere
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Navn</th>
                    </tr>
                </thead>
                <tbody>
                {{#each users}}
                    <tr>
                        <td>{{profile.name}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{else}}
            <p>Denne siden krever administrator rettigheter.</p>
        {{/if}}
    {{/if}}
</template>