<template name="header">

<header class="row">
	<div style="text-align:center;" class="col-lg-2"><img src="img/logo.jpg"/></div>
    
    <div class="col-lg-4 header background-dark tile-text info">
    	Info
    	<div class="diamond-dark diamond"></div>
   </div>
    
    
    
    <div class="background-light header col-lg-3 tile-text register">
    	Registrering
    	 <div class="diamond-light diamond"></div>
	</div>

   
    <div class="header col-lg-3 background-dark tile-text map">
    	Plasskart
    	
	</div>

</header>
</template>