<template name="header">

    <header class="row">

        <div class="col-lg-2 logo"><img src="img/logo.jpg"/></div>

        <div class="col-lg-4 header background-dark tile-text info">
            Info
            <div class="diamond-dark diamond"></div>
       </div>

        <div id="{{stateClass}}" class="background-light header col-lg-3 tile-text clickable">
            {{#if currentUser}}
                {{currentUser.profile.name}}
            {{else}}
                Registrering
            {{/if}}
            <div class="diamond-light diamond"></div>
        </div>

        <div class="{{viewLoginClass}} col-lg-3 background-dark {{mapLink}}">
            {{#if currentUser}}
                Plasskart
            {{else}}
                {{#if viewLogin}}
                    {{>login}}
                {{else}}
                    Logg inn
                {{/if}}
            {{/if}}
        </div>
    </header>
</template>


