<template name="main_menu">
    <section class="sidebar-left">
        <a href="/"><img src="img/logo.jpg"></a><!-- LOGO, 182px * 218px -->

        <nav>
            <a class="menuitem" href="info">Informasjon</a>
            <a class="menuitem" href="/reservations">Plasskart</a>
            <a class="menuitem" href="/compos">Compo/Turneringer</a>
            <a class="menuitem" href="/parents">Til foreldre</a>
            <a class="menuitem" href="/about">Om oss</a>
            <a class="menuitem" href="/dhjshfkjs">Livestream</a>

        </nav>
    </section>
</template>