<template name="main_menu">
    <section class="sidebar-left">
        <a href="index.php"><img src="img/logo.jpg"></a><!-- LOGO, 182px * 218px -->

        <nav>
            <a class="menuitem" href="index.php?&pID=14">Hjem</a>
            <a class="menuitem" href="?m=articles&act=view&artID=33&pID=15">Informasjon</a>
            <a class="menuitem" href="?m=reservations&pID=24">Plasskart</a>
            <a class="menuitem" href="?m=articles&act=view&artID=35&pID=25">Compo/Turneringer</a>
            <a class="menuitem" href="?m=articles&act=view&artID=34&pID=56">Til foreldre</a>
            <a class="menuitem" href="?m=articles&act=view&artID=36&pID=57">Om oss</a>
            <a class="menuitem" href="http://www.twitch.tv/nemeanlanparty&pID=61">Livestream</a>

        </nav>
    </section>
</template>