<template name="sponsors">
        <a href="http://www.hemnenett.no">
            <img src="img/sponsors/hemnenett.jpg"/>
        </a>
        <a href="http://www.sparebankenhemne.no">
            <img src="img/sponsors/sparebankenHemne.jpg"/>
        </a>
        <a href="http://www.digitalimpuls.no">
            <img width="420px" src="img/sponsors/DI.jpg"/>
        </a>
        <a href="http://www.sagoyvaretaxi.no">
            <img width="420px" src="img/sponsors/sagoyvaretaxi.jpg"/>
        </a>
</template>